
/*```````````````````````````````````*/
.header{
	height: 110px;
	width: 100%;
	background: #14171e;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropDown{
	position: absolute;
	right: 200px;
	z-index: 21;
}

.dropdown-toggle::after{
	right: 0px;
}

.LogoBox{
	width: 708px;
	height: 65%;
}
.TopLogo{
	width: 25%;
}

#TopText{
	position: absolute;
	right: 50px;
	top:40px;
}

.UserText{
	position: absolute;
	right: 50px;
	top:40px;
	font-size: 17px;
	color: #d3d3d6;
}

.navbar{
    z-index: 15;
	height: 56px;
	width: 100%;
	background: #644d58;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	position: absolute;
	top: 110px;
	display: flex;
	justify-content: center;
}

.navbar.stick{
	background: rgb(100, 77, 88,0.8);
	position: fixed;
	top: 0;
}

.logo{
	position: fixed;
	top: 15px;
	left:50%; 
    margin-left:-97.5px;
	width: 195px;
	height: 25px;
	background-image: url(../img/logo.png);
	background-size:cover;
}


/*導覽列*/
.navi_content{
	width: 708px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 0 0 0 0;
}

.navi_content li{			/*父導覽列*/
	position: relative;
	list-style: none;
	color: rgb(86, 108, 165);
	font-size: 16px;
}

.naviText{
	color: #d9dadd;
	background-color: transparent;
	border: 0;
}

.naviText:focus{
	outline:none;
}

.naviText:hover{
	text-decoration-line: none;
	color:rgba(255, 255, 255, 0.95);
}

/*快捷鍵*/
.FBicon{
	position: absolute;
	top: 17.5px;
	right: 10px;
	height: 20px;
	width: 20px;
	background-size:cover;
	transition: 0.3s;
}


/*RWD*/
@media(max-width: 950px){
	.navi_content{
		width: 600px;
		position: absolute;
		left: 50px;
	}

	.LogoBox{
		width: 600px;
	}
}

@media(min-width:768px){
	.logo{
		display: none;
	}
}

@media(max-width:767px){
	.navi_content{
		display: none;
	}

	.navbar{
		height: 50px;
		position: fixed;
		top:0;
	}
}
